/*使container居中*/
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
/*给container清除浮动*/
.container:before,
.container:after {
  display: table;
  content: "";
  line-height: 0;
}
.container:after {
  clear: both;
}